# Question 1

In [1]:
import pandas as pd
import numpy as np

In [ ]:

energy = pd.read_excel("Energy Indicators.xls", skiprows = 18, skipfooter = 38, usecols = 'C:F', header = None) 
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] *= 1000000
energy[energy['Energy Supply per Capita'] == '...'] = np.nan
energy['Country'] = energy['Country'].replace({
    "Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
    })
energy['Country'] = energy['Country'].str.replace(r'\d+', '', regex = True)
energy['Country'] = energy['Country'].str.replace(r'\s * \(/*?\)\s' , '', regex = True)

GDP = pd.read_csv('world_bank.csv', skiprows = 4)
GDP.rename(columns = {'Country Name': 'Country'}, inplace = True)
GDP['Country'] = GDP['Country'].replace({
    "Korea, Rep.": "South Korea",
    "Iran, Islamic Rep.": "Iran",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
    })
    
ScimEn = pd.read_excel('scimagojr.xlsx')

def answer_one():
    
    df = pd.merge(pd.merge(energy, GDP, on = 'Country'), ScimEn, on = 'Country')
    df.set_index('Country', inplace = True)
    df = df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    df = (df.loc[df['Rank'].isin([i for i in range(1, 16)])])
    df.sort_values(['Rank'], inplace = True)
    return df

answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,402188,400158,5077232,3511673,12.62,343,127191000000,93,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
India,3,81853,79757,968523,369256,11.83,237,33195000000,26,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,58342,57735,717946,154848,12.31,228,18984000000,149,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
Germany,6,50906,49773,777362,160302,15.27,252,13261000000,165,17.901530,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,7,46186,45868,217996,96688,4.72,112,30709000000,214,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,41209,40390,915491,142691,22.22,284,10431000000,296,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,38700,36909,639473,147302,16.52,209,6530000000,109,33.667230,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,10,38362,38046,618762,105419,16.13,198,11007000000,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
France,12,30810,30139,547122,89958,17.76,221,10597000000,166,17.020280,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Spain,13,29840,29156,614087,104845,20.58,216,4923000000,106,37.968590,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Australia,14,27993,27254,608021,84747,21.72,234,5386000000,231,11.810810,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
Brazil,15,27316,26888,307607,71778,11.26,154,12149000000,59,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12

# Question 2

In [16]:
def answer_two():
    Top15 = answer_one()
    avgGDP = Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].apply(lambda x: np.mean(x),axis=1)
    avgGDP.sort_values(inplace = True, ascending = False)
    return avgGDP

answer_two()

Country
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.590729e+12
France                2.692000e+12
Italy                 2.152983e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.406644e+12
South Korea           1.221328e+12
Australia             1.207997e+12
dtype: float64

# Question 3

In [27]:
def answer_three():
    Top15 = answer_one()
    change_GDP = float(Top15.iloc[5]['2015'] - Top15.iloc[5]['2006'])
    return change_GDP

answer_three()

237244006626.16992

# Question 4

In [34]:
def answer_four():
    Top15 = answer_one()
    Top15["Ratio"] = Top15["Self-citations"] / Top15["Citations"]
    return Top15["Ratio"].idxmax(), max(Top15["Ratio"])

answer_four()

('China', 0.6916510807463594)

# Question 5

In [37]:
def answer_five():
    Top15 = answer_one()
    Top15["BronzMedal"] = Top15["Energy Supply"] / Top15["Energy Supply per Capita"]
    y = Top15["BronzMedal"].sort_values(ascending = False)
    return y.index[2]

answer_five()

'Brazil'

# Question 6

In [41]:
def answer_six():
    Top15 = answer_one()
    Top15["CDPP"] = Top15["Energy Supply"] / Top15["Energy Supply per Capita"]
    Top15['Citable documents per Capita'] = Top15['Citable documents'] / Top15['CDPP']
    correlation= (Top15['Citable documents per Capita'].astype(float).corr(Top15['Energy Supply per Capita']))
    return float(correlation)

answer_six()

0.808103233711242

# Question 7

In [ ]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    groups = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
    Top15['Estimate Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    for group, frame in Top15.groupby(ContinentDict):
        groups.loc[group] = [len(frame), frame['Estimate Population'].sum(), frame['Estimate Population'].mean(), frame['Estimate Population'].std()]
    return groups

answer_seven()

               size           sum          mean           std
Asia            4.0  2.821591e+09  7.053977e+08  7.138779e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          5.0  3.940587e+08  7.881174e+07  3.813228e+07
North America   1.0  3.523986e+07  3.523986e+07           NaN
South America   1.0  2.059153e+08  2.059153e+08           NaN